<mat-toolbar-row>Add Your Post</mat-toolbar-row>
<mat-card>
<form (submit)="addNewPostClick(postForm)" #postForm="ngForm">
<mat-form-field>
  <input required matInput input="text" name="title" ngModel placeholder="Type Title Here..." #title="ngModel">
  <mat-error *ngIf="title.invalid">Please add title</mat-error>
</mat-form-field>
<mat-form-field>
  <textarea required matInput rows="10" name="content" ngModel placeholder="Type Post Here..." #content="ngModel"></textarea>
  <mat-error *ngIf="content.invalid">Please add content</mat-error>
</mat-form-field>
<button mat-raised-button color="accent" type="submit">Post</button>
</form>
</mat-card>
